<%= form_with(model: form) do |forms| %>
  <% if form.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= forms.label :name, style: "display: block" %>
    <%= forms.text_field :name %>
  </div>
  <div>
    <%= forms.label :description, style: "display: block" %>
    <%= forms.text_area :description %>
  </div>

  <div>
    <%= forms.submit %>
  </div>
<% end %>